/*Copyright Kevin Kowalsky, Robert Feather*/
body{
    font-family: PT Sans Pro,sans-serif 
}
.dates{
    float: right;
}
body{
    margin-left: 50px;
    margin-right: 50px;

}
h1,h3,h4,p,li,b,ul{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    
}
h2{
    margin-bottom: 0px;
    padding-bottom: 0px;
    }
@media (max-width:500px){
    .dates{
    float: none;
    display: block;
    }
    #gone{
    display: none;
    }
}